* {
    font-family: "Gilroy";
    font-weight: 400;
}

img {
    width: 100%;
    height: auto;
}

* {
    font-family: "Gilroy";
    font-weight: normal;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1160px;
    padding: 10px 20px;
    margin: 0 auto;
}

.nav {
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    width: 55px;
    height: 55px;
}

.nav__text {
    font-weight: bold;
    color: #1F3F68;
    position: relative;
    cursor: pointer;
    text-decoration: none;
}

.nav__text:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    /* Высота линии */
    background-color: #1F3F68;
    /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s;
    /* Время эффекта */
}

.nav__text:hover:after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    /* Высота линии */
    background-color: #1F3F68;
    /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s;
    /* Время эффекта */
}

.main__wrapper {
    height: 150%;
    width: 100%;
    background: rgb(152, 195, 232);
    background: linear-gradient(97deg, rgba(152, 195, 232, 1) 0%, rgba(152, 195, 232, 0.4906337535014006) 100%);
}

.main {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.main__inner {
    flex: 1;
    padding: 20px;
}

.image {
    flex: 1;
}

.image img {
    max-width: 100%;
    height: auto;
}

.heading__title {
    font-weight: bold;
    font-size: 74px;
    color: #1F3F68;
    margin-bottom: 50px;
}

.main__caption {
    margin-bottom: 71px;
    font-size: 26px;
}

.button {
    padding: 15px 46px;
    background-color: rgb(90, 152, 208);
    color: white;
    font-size: 26px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: .7s;
}

button:hover {
    background-color: #1F3F68;
}

* {
    box-sizing: border-box;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-title {
    text-align: center;
    margin-top: 40px;
    font-size: 64px;
}

.card {
    background: white;
    border: none;
    border-radius: 8px;
    margin: 10px;
    text-align: center;
    max-width: 380px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    padding: 0 10px 25px 10px;
}

.card h3 {

    font-weight: bold;
    font-size: 26px;
    color: rgb(31, 63, 104);
}

.card p {
    font-style: 20px;
    color: rgb(31, 63, 104);
    margin-bottom: 36px;
    opacity: .8;
}

.card a {
    font-style: 24px;
    color: rgb(90, 152, 208);
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(90, 152, 208, 0.3);
}

.card_img {
    margin: 50px auto;
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

.card_img img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.gallery {}



.gallery__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
    padding: 50px 0;
    border-top: 2px solid rgba(31, 63, 104, .5);
    border-bottom: 2px solid rgba(31, 63, 104, .5);

}

.gallery__item {
    width: 40%;
    height: auto;
}



.gallery__item--one {
    width: 85%;
    margin-bottom: 15px;
}

.gallery__row {
    display: flex;
    gap: 15px;
    justify-content: center;
}



.quastions {}

.container {}

.quastions__inner {
    display: flex;
    flex-direction: column;
}

.question {
    margin-bottom: 50px;
}

.end {
    text-align: end;
}

.question__title {
    font-weight: bold;
    font-size: 26px;
    color: rgb(31, 63, 104);
    margin-bottom: 10px;
}

.question__slug {
    font-style: 20px;
    color: rgb(31, 63, 104);
    margin-bottom: 36px;
    opacity: .8;
}

.contacts {}

.contacts__inner {
    display: flex;
    justify-content: center;
    gap: 80px;
    padding: 50px 0;
    border-top: 2px solid rgba(31, 63, 104, .5);
}

.contacts__data {}

.contact__text {}

.contact__title {
    font-size: 30px;
    color: #1F3F68;
    margin-bottom: 10px;
}

.contact__slug {
    margin-bottom: 25px;
    display: block;
}
a.contact__slug.two{
    margin-bottom: 10px;
}

.contact__img {
    width: 300px;
    height: auto;
    margin-bottom: 40px;
}

.contacts__map {
    width: 600px;
    height: 400px;
}

@media (max-width: 1035px) {
    .contacts__inner{
        flex-direction: column;
        align-items: center;
    }
    .contacts__data{
        display: flex;
    }
    .contact__img{
        margin-right: 50px;
    }
}

/* Адаптивность */
@media (max-width: 768px) {
    .main {
        flex-direction: column;
        align-items: center;

    }

    .main__inner {
        width: 100%;
        text-align: center;
    }

    .image {
        display: none;
    }
    .contacts__map{

        width: 90%;
        height: auto;
    }
}

@media (max-width: 635px) {
    .main__caption {
        margin-bottom: 50px;
    }

    .heading__title {
        font-size: 50px;
    }

    .contacts__data{
        display: block;
    }
    .contact__img{
        width: 150px;
    }

}

@media (max-width: 460px) {
    .main__wrapper {
        height: 100%;
    }

    .card {
        width: 100%;
    }

    .card h3 {
        font-size: 20px;
    }

    .card p {
        font-size: 16px;
        white-space: normal;
    }
}